<!-- Página de control del robot que permite establecer su modo de operación, asignarle objetivos, y ejecutar o detener la sesión -->

{% extends "layout.html" %}

<!-- Define el estilo del icono del robot sobre el mapa y los botones de control -->
{% block body %}

    <!-- Es estilo del icono de la posición actual del robot -->
    <style>
        #map {
            position: relative;
        }
        .marker { 
            position: absolute;
            width: 30px;
            height: 30px;
            background: url("https://thmotorsports.com/content/images/thumbs/default-image-thmotorsports_128_30.gif") no-repeat 0 0;
        }
    </style>

    <div id="map" class="map"></div>
    <div id="geo-marker" class="marker"></div>

    <!-- Este formulario envía un GET a /controlRobot con los datos de la sesión elegida -->
    <form action="/controlRobot" method="get">
        <div class="form-group">
            <!-- Menú desplegable que muestra todas las sesiones pendientes de todos los usuarios -->
            <select name="sesión">
                <option disabled selected value="">Elegir Sesión</option>
                {% for sesion in sesionesPendientes %} 
                    <option value="{{ sesion }}">{{ sesion[0] }}</option>
                {% endfor %}
            </select>
            <!-- Botón que envía el GET a /controlRobot con los datos de la sesión elegida -->
            <button class="btn btn-basic" type="submit">Elegir Sesión a Ejecutar</button>
        </div>
    </form>

    <div class="container-p-5">
        <div class="row">
        
            <div class="col-md-12">
                <div id="modoActual" class="update-title">Modo de Operación: detectando modo...</div>
            </div>
                

            <div class="col-md-12">
                <div class="update-nag">
                    <div class="update-split update-info"><img src="static/PiA.jpg" alt="Flowers in Chania"></div>
                    <div id="estadoPiA" class="update-text">detectando estado de PiA...</div>
                </div>
            </div>
        
            <div class="col-md-12">
                <div class="update-nag">
                    <div class="update-split update-info"><img src="static/ArduinoA.jpg" alt="Flowers in Chania"></div>
                    <div id="estadoArduinoA" class="update-text">detectando estado de ArduinoA...</div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="update-nag">
                    <div class="update-split update-info"><img src="static/PiB.jpg" alt="Flowers in Chania"></div>
                    <div id="estadoPiB" class="update-text">detectando estado de PiB...</div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="update-nag">
                    <div class="update-split update-info"><img src="static/ArduinoB.jpg" alt="Flowers in Chania"></div>
                    <div id="estadoArduinoB" class="update-text">detectando estado de ArduinoB...</div>
                </div>
            </div>
            
        </div>
    </div>
       
    <div class="container-p-6">
        <div class="row">
            <div class="col-md-12">
                <div class="update-title" style="left: 45px;">Control</div>
            </div>
            <div class="col-md-12">
                <div class="btn-group">
                    <button type='button' class="btn btn-danger" onClick="pubMQTT('ServidorRobot/modo',0);">Emergencia</button>
                    <button type='button' class="btn btn-basic" onClick="pubMQTT('ServidorRobot/modo',1);">Inactivo</button>
                    <button type='button' class="btn btn-basic" onClick="pubMQTT('ServidorRobot/modo',2);">Nav Autónoma</button>
                    <button type='button' class="btn btn-basic" onClick="pubMQTT('ServidorRobot/modo',4);">Nav Manual</button>
                </div>
            </div>
            <div class="col-md-12"></div>
        </div>
    </div> 
    <div class="container-p-7">
        <div class="col-md-12">
            <div class="btn-group">
                <button type='button' class="btn btn-danger" onClick="pubMQTT('ServidorRobot/marchaParo',0);">Paro</button>
                <button type='button' class="btn btn-success" onClick="pubMQTT('ServidorRobot/marchaParo',1);">Marcha</button>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="btn-group">
                <button type='button' class="btn btn-basic" onClick="pubMQTT('ServidorRobot/antena',0);">RaspiGNSS</button>
                <button type='button' class="btn btn-basic" onClick="pubMQTT('ServidorRobot/antena',1);">Móvil</button>
            </div>
        </div>
    </div>
    <div class="container-p-8">
        <div class="row2">
            <div class="btn-group">
                <button type='button' class="btn btn-basic" style="width: 45px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/moverCamara',1);" onmouseup="pubMQTT('ServidorRobot/moverCamara',0);"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Arrow_north.svg/320px-Arrow_north.svg.png' style="width:10px;height:20px;"></button>
                <button type='button' class="btn btn-basic" style="width: 45px;"></button>
            </div>
            <div class="btn-group">
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','ai');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Arrow_northwest.svg/900px-Arrow_northwest.svg.png' style="width:20px;height:20px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','ar');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Arrow_north.svg/320px-Arrow_north.svg.png' style="width:10px;height:20px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','ad');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Arrow_northeast.svg/1024px-Arrow_northeast.svg.png' style="width:20px;height:20px;"></button>
            </div>
        </div>
        <div class="row2">
            <div class="btn-group">
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/moverCamara',3);" onmouseup="pubMQTT('ServidorRobot/moverCamara',0);"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Arrow_west.svg/2000px-Arrow_west.svg.png' style="width:20px;height:10px;"></button>
                <button type='button' class="btn btn-basic" style="width: 34px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/moverCamara',4);" onmouseup="pubMQTT('ServidorRobot/moverCamara',0);"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Arrow_east.svg/1200px-Arrow_east.svg.png' style="width:20px;height:10px;"></button>
            </div>
            <div class="btn-group">
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','gi');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Arrow_west.svg/2000px-Arrow_west.svg.png' style="width:20px;height:10px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','pf');" onmouseup="pubMQTT('ServidorRobot/navManual','pf');"><img src='http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png' style="width:10px;height:10px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','gd');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Arrow_east.svg/1200px-Arrow_east.svg.png' style="width:20px;height:10px;"></button>
            </div>
        </div>
        <div class="row2">
            <div class="btn-group">
                <button type='button' class="btn btn-basic" style="width: 45px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/moverCamara',2);" onmouseup="pubMQTT('ServidorRobot/moverCamara',0);"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Arrow_south.svg/2000px-Arrow_south.svg.png' style="width:10px;height:20px;"></button>
                <button type='button' class="btn btn-basic" style="width: 45px;"></button>
            </div>
            <div class="btn-group">
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','ri');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Arrow_southwest.svg/900px-Arrow_southwest.svg.png' style="width:20px;height:20px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','rr');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Arrow_south.svg/2000px-Arrow_south.svg.png' style="width:10px;height:20px;"></button>
                <button type='button' class="btn btn-basic" onmousedown="pubMQTT('ServidorRobot/navManual','rd');" onmouseup="pubMQTT('ServidorRobot/navManual','ps');"><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Arrow_southeast.svg/900px-Arrow_southeast.svg.png' style="width:20px;height:20px;"></button>
            </div>
        </div>
    </div>

    <img id="fotoI" src="static/fotoI.jpg" alt="Flowers in Chania">
    <img id="fotoD" src="static/fotoD.jpg" alt="Flowers in Chania">

{% endblock %}


<!-- Permite ejecutar todas las funciones de /controlRobot -->
{% block scriptPersonalizado %}

    <script>

        
        /***************************************************************  Parcela  ***************************************************************/
        
        var poli = {{ poli|tojson }};
        console.log("Recibidas las coordenadas de la parcela = ", poli);
          
        // Reescribir la capaGeom con los nuevos puntos
        capaGeom = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [new ol.Feature({
                    geometry: new ol.geom.Polygon([poli])
                })]
            }),
        });

        // Añadir la nueva capaGeom al mapa
        console.log("Dibujando la parcela");
        map.addLayer(capaGeom);



        /***************************************************************  Puntos objetivos  ***************************************************************/

        // Recibir las coordenadas objetivas de /controlRobot
        var coordObjs = {{ coordObjs }};

        // Crear puntos (features) con las coordenadas objetivas
        var puntosObjs = [];
        for (var i = 0; i < coordObjs.length; i++)
        {            
            puntosObjs.push(
                new ol.Feature({
                    geometry: new ol.geom.Point(coordObjs[i]),
                    name: 'puntoObj'
                })
            );
        }

        // Crear una capa con los puntos objetivos
        capaCoordObjs = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: puntosObjs
            }),
            style: stylePObj
        });

        // Añadir al mapa la capa de puntos objetivos
        console.log("Dibujando puntos objetivos = ", puntosObjs)
        map.addLayer(capaCoordObjs);



        function ajaxControlRobot(mensajeJSON)
        {
            // Enviar el JSON a /controlRobot 
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(mensajeJSON), 
                dataType: 'json',
                url: '/controlRobot',
                success: function () {
                    console.log("Ajax enviado con éxito");               
                },
                error: function() {
                    alert("Error en Ajax de controlRobot.html");
                }
            });
        }
            

        // Al hacer click sobre un punto objetivo, enviar sus coordenadas a PiA (/controlRobot)
        map.on("click", function(e){

            // Crear un objeto JSON para la sesión y asignarle el identificador de la sesión utilizado por /controlRobot
            var sesión = new Object();
            sesión.idSesión = {{ idSesión }};

            // Añadir al JSON las coordenadas del punto objetivo seleccionado
            map.forEachFeatureAtPixel(e.pixel, function (feature, layer){
                if (layer == capaCoordObjs)
                    sesión.coordObj = feature.getGeometry().getCoordinates();
            })

            ajaxControlRobot(sesión);
        });

        
        /***************************************************************  Trayectoria objetivo  ***************************************************************/
        
        // Capa de figuras (polígonos, líneas, puntos, etc.) que se dibujan sobre la capa ráster
        var capaTrayectoriaObj = new ol.layer.Vector({
            source: source
        });



        // Recibir periódicamente los datos de Flask para actualizarlos en la página
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        (function () {
            $.getJSON(
                $SCRIPT_ROOT + "/_actualizarControlRobot", // Ajax route (de dónde viene coordAct)
                function(data){

                    // Recoger el modo del sistema y los estados enviados como JSON por /_md
                    var modo = data.modo;
                    var estadoPiA = data.estadoPiA;
                    var estadoArduinoA = data.estadoArduinoA;
                    var estadoPiB = data.estadoPiB;
                    var estadoArduinoB = data.estadoArduinoB;

                    document.getElementById("modoActual").innerHTML = "Modo de Operación: " + modo;
                    document.getElementById("estadoPiA").innerHTML = estadoPiA;
                    document.getElementById("estadoArduinoA").innerHTML = estadoArduinoA;
                    document.getElementById("estadoPiB").innerHTML = estadoPiB;
                    document.getElementById("estadoArduinoB").innerHTML = estadoArduinoB;

                    // Recoger la trayectoria generada por PiA y enviada como JSON por /_cr
                    var trayectoriaPiA = data.trayectoria;

                    // Convertir la trayectoria de PiA al formato requerido por la función crearTrayObj (un array de arrays) 
                    var trayectoriaObj = []; 
                    for(var i = 0; i < trayectoriaPiA.length;i++){

                        // Extraer y añadir las coordenadas a trayectoriaObj
                        var lonObj = trayectoriaPiA[i][0];
                        var latObj = trayectoriaPiA[i][1];
                        trayectoriaObj.push([lonObj,latObj]);
                    }
                    
                    console.log("PiA ha calculado la trayectoriaObj = ", trayectoriaObj);

                    // Reemplazar la capa de trayectoria objetiva anterior por una nueva
                    map.removeLayer(capaTrayectoriaObj);
                    crearTrayObj(trayectoriaObj);

                    // Extraer y añadir las coordenadas a trayectoriaAct
                    latRobot = data.latr
                    lonRobot = data.lonr
                    
                    if (latRobot != latRobotPrev || lonRobot != lonRobotPrev)
                    {
                        trayectoriaAct.push([lonRobot, latRobot]); 
                        console.log("Almacenando la trayectoriaAct = ", trayectoriaAct);

                        // Reemplazar la capa de trayectoria actual anterior por una nueva                        
                        map.removeLayer(capaTrayectoriaAct);
                        crearTrayAct(lonRobot, latRobot);

                        lonRobotPrev = lonRobot;
                        latRobotPrev = latRobot;    
                    }
                }
            );

            // Actualizar el modo cada 1 segundo (típicamente no cambia)
            setTimeout(arguments.callee, 500);
        })();

        
        // Crear la trayectoria objetiva sobreescribiendo la capaTrayectoriaObj de layout.html y añadiendo los segmentos de línea de la nueva trayectoria objetiva
        function crearTrayObj(vectorTrayectoria){
            
            // Reescribir la capaTrayectoriaObj con los nuevos puntos
            capaTrayectoriaObj = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [new ol.Feature({
                        geometry: new ol.geom.LineString(vectorTrayectoria)
                    })]
                }),
                style: new ol.style.Style({
                    stroke: new ol.style.Stroke({color : [0, 255, 0, 1], width : 3})
                })
            });

            // Añadir la nueva capaTrayectoriaObj al mapa
            map.addLayer(capaTrayectoriaObj);
        }
        

        /***************************************************************  Informar de modo y estados  ***************************************************************/

        // Enviar un mensaje a Flask para publicar por MQTT
        function pubMQTT(topic, mensaje)
        {
            // Crear un objeto JSON con el topic y mensaje
            var control = new Object();
            control.topic = topic;
            control.mensaje = mensaje;

            console.log("Enviando a Flask para publicar = ", JSON.stringify(control));

            ajaxControlRobot(control);
        }
        


        /***************************************************************  Trayectoria actual  ***************************************************************/

        // Generación de la trayectoria actual sobre el mapa --------------------------------------------------------------------------------------------

        // Valores iniciales de la posición del robot
        var latRobot = 40;      
        var lonRobot = -3;
        var latRobotPrev = 0;
        var lonRobotPrev = 0;

        // Crear la trayectoria actual y la capa que la contendrá
        var trayectoriaAct = []; 
        var capaTrayectoriaAct;


        function crearTrayAct(lonR, latR){

            var stylePAct = new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 0, 0, 0.3)'
                }),
                stroke: new ol.style.Stroke({
                    width: 2,
                    color: 'rgba(255, 0, 0, 0.8)'
                }),
                image: new ol.style.Circle({
                    fill: new ol.style.Fill({
                        color: 'rgba(255, 0, 0, 0.5)'
                    }),
                    stroke: new ol.style.Stroke({
                        width: 1,
                        color: 'rgba(255, 0, 0, 0.8)'
                    }),
                    radius: 2
                }),
            });

            // Reescribir la capaTrayectoriaAct con los nuevos puntos
            capaTrayectoriaAct = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [new ol.Feature({
                        geometry: new ol.geom.Point([lonR, latR])
                    })]
                }),
                // Distinguir la trayectoria actual de la trayectoria objetiva con un color distinto
                style: stylePAct
            });

            // Añadir la nueva capaVector al mapa
            map.addLayer(capaTrayectoriaAct);
        }

        /***************************************************************  Posición actual  ***************************************************************/

        // La posición actual del robot se representa con un icono
        iconoPosAct = new ol.Overlay({
            position: [-3.5, 40],       // valor inicial
            positioning: 'top-center',
            offset: [0, 0],
            element: document.getElementById('geo-marker'),
            stopEvent: false
        });
        map.addOverlay(iconoPosAct);

        // Refrescar la posición actual cada 300 milisegundos
        setInterval(function(){
            if (lonRobot != 0 && latRobot !=0)
                iconoPosAct.setPosition([lonRobot, latRobot])
        }, 300);


        setInterval(function(){
            document.getElementById("fotoI").src = "static/fotoI.jpg";
            document.getElementById("fotoD").src = "static/fotoD.jpg";
        }, 10000);
    </script>

{% endblock %}
