{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-sm">  <!-- general formatting, especially lines between rows -->
        <thead>
            <tr>
                <th>Symbol</th><th>Shares</th><th>Price</th><th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in table %}
        <tr>
            {% for key, value in transaction.items() %}
                {% if key == 'symbol' or key == 'shares' or key == 'time' %}
                    <td> {{ value }} </td>
                {% elif key == 'price' %}
                    <td> {{ value  | usd }} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody >
    </table>
{% endblock %}
