<!-- Página de login que acepta el nombre de usuario y su contraseña para permitir al usuario entrar en su cuenta -->

{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

<!-- Formulario para entrar en la cuenta del usuario -->
{% block body %}

    <!-- El formulario envía un POST a /login para procesar los datos -->
    <form action="/login" method="post">

        <!-- Nombre del usuario -->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="usuario" placeholder="Usuario" type="text"/>
        </div>

        <!-- Contraseña del usuario -->
        <div class="form-group">
            <input class="form-control" name="contraseña" placeholder="Contraseña" type="password"/>
        </div>

        <!-- Botón que envía el POST y los datos a /login -->
        <button class="btn btn-primary" type="submit">Entrar</button>

    </form>

{% endblock %}
